html {
  min-height: 100vh;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  font-family: $ft-main;
  box-sizing: border-box;
  overflow: hidden;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-text;
}

#app {
  height: 100%;
}

.content-wrapper {
  display: flex;
  height: 100%;
}

.right_panel {
  width: 20%;
  height: 100%;
}

.active {
  display: flex;
  height: calc(20% - 30px);
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px;
}