.scene {
  height: 100%;
  width: 80%;
  min-width: 1040px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.board {
  &-scene {
    display: block;
    padding: 15px;
    //height: 100%;
  }

  &__header {
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    color: white;
    font-family: $ft-main;
  }
}

.card {
  &-container {
    width: 100px;
    height: 150px;
    background: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.24);
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
  }

  &__img {
    width: 100%;
    height: 80%;
  }
}

.battlefield {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  user-select: none;
}

.deck_card {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-evenly;
  width: auto;
  height: 78%;
  margin: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  overflow-y: auto;
  border-radius: 5px;
  user-select: none;
}

.field-container {
  width: 110px;
  height: 160px;
  background: repeating-linear-gradient(45deg, $white, transparent 100px);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
