.right_panel {
  min-width: 222px;
  min-height: 628px;
  width: 30%;
  height: 100%;
  background: $white;
  border-radius: 5px;
}

.clock {
  &-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px 20px;
    color: $color-active;
    font-size: $fs-middle;
    align-items: center;

    @media screen and (min-width: $win-width-hg) {
      font-size: 30px;
    }
  }

  &__title {
    margin-right: 10px;
  }

  &-inner {
    border: 2px solid $color-active;
    border-radius: 5px;
    padding: 5px;
  }
}

@keyframes clock {
  from {
    background-color: $white;
    color: $color-active;
  }
  to {
    background-color: $color-active;
    color: $white;
  }
}

.deck_card {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-evenly;
  width: auto;
  height: calc(100% - 195px);
  margin: 10px 15px;
  box-shadow: 0 1px 3px $color-bg;
  //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  overflow-y: auto;
  border-radius: 5px;
  user-select: none;

  .card-container {
    margin: 5px;
  }
}

.active {
  display: flex;
  height: 100px;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px;
  user-select: none;
}
