html {
  min-height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  display: block;
  position: relative;
  font-family: $ft-main;
  box-sizing: border-box;
  overflow: hidden;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-text;
}

.content-wrapper {
  display: flex;
}

.right_panel {
  width: auto;
  height: 100vh;
}