//fonts
$ft-main: 'Montserrat-Regular', sans-serif;
$ft-medium: 'Montserrat-Medium', sans-serif;
$ft-bold: 'Montserrat-Bold', sans-serif;

//font-size
$fs-large: 30px;
$fs-middle: 24px;
$fs-normal: 16px;
$fs-small: 15px;
$fs-little: 14px;
$fs-mini: 13px;

//colors
$white: #ffffff;
$color-main: #2097A8;
$color-text: #222222;
$color-card-background: #d4d4d4;